/* Add CSS Styling */

.odd{
    background-color: pink;
    font-family: verdana, 'DejaVu San', sans-serif;
}
#second{
    color: blue;
    font-size: 36px;
}
.adjust-font-size{
    font-size: 24px;
}
#fourth{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}